.sendButton{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.connectButton{
    -fx-text-fill: white;
    -fx-font-weight:bold ;
    -fx-background-color: gray;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 )
}
/*
#pane{
    -fx-background-image: url("images/back.jpg");
    -fx-background-size: 600px;

}*/
.videoChatButton{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#5583B1, #20582D);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
